:root {
    color-scheme: dark;
    width: 100%;
    font-size: small;
}
* {
    color: lightgray;
    font-family: "Segoe UI",Helvetica,Arial, sans-serif;
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: black;
}
#header {
    text-align: center;
    border-bottom: 1px solid rgb(40,40,40);
    height: auto;
    padding: 10px;
    margin: auto;
    vertical-align: middle;
    width: 100%;
}
h2 {
    text-align: center;
    margin: 0;
    padding: 0;
    width: auto;
    display: inline-block;
    font-size: xx-large !important;
}
a {
    text-decoration: none;
    color: darkgray;
}
a:hover {
    color: white;
}
button {
    background-color: transparent;
    border: none;
    vertical-align: middle;
    margin: 2px;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
}
img {
    height: 16px;
    width: 16px;
    vertical-align: middle;
}
button:disabled {
    filter: invert(75%);
}
button:enabled:hover {
    filter: invert(50%);
}
button:enabled:active {
    transform: translateY(1px);
}
select {
    width: auto;
    padding: 4px;
    vertical-align: middle;
    margin: 5px;
    height: auto;
    border: 1px solid rgb(40,40,40);
    overflow: auto;
}
select option:checked {
    color: rgb(255, 255, 255);
}
input {
    outline: none;
    width: 200px;
    padding: 6px;
    margin: 5px;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
select, input {
    background-color: black;
}
input[type="checkbox"] {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin: 2px;
}
input[type="radio"] {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    text-align: right;
    margin: 2px;
}
input:focus {
    outline: none;
}
table {
    text-align: center;
    background-color: rgb(10,10,10);
    border: 1px solid rgb(40,40,40);
    width: 60%;
    white-space: nowrap;
}
table, th, td {
    border-collapse: collapse;
    cursor: default;
}
th {
    font-weight: bold;
    border-bottom: 1px solid rgb(40,40,40);
}
.th {
    font-weight: bold;
}
td {
    white-space: nowrap;
    padding: 15px;
    border-bottom: 1px solid rgb(40,40,40);
    vertical-align: middle;
}
tr:nth-child(even) {
    background-color: rgb(20,20,20);
}
label {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    margin-bottom: 0;
    margin-left: 20px;
}
.disable-select {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
.labels {
    text-align: left;
}
.layer {
    padding: 20px;
    border-bottom: 1px solid rgb(40,40,40);
    border-top: 0;
    text-align: center;
    background-color: rgb(10,10,10);
}
#toastContainer {
    visibility: hidden;
}
.toast {
    font-weight: bold;
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 5px;
    text-align: center;
    background-color: green;
    color: white;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
#footer {
    border: none;
    background-color: black;
}
#clearSearch {
    -webkit-filter: invert(1);
    filter: invert(1);
}
#clearAll {
    padding-left: 20px;
    vertical-align: middle;
}
#textSearch {
    border: none;
    margin: 0;
}
.searchContainer {
    border: 1px solid rgb(40,40,40);
    width: auto;
    display: inline-block;
    padding: 0;
    margin: 0;
    background-color: black;
}
.componentContainer {
    display: inline-block;
}
.highlightLatest {
    vertical-align: middle;
    display: inline-block;
    border-radius: 5px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: green;
    color: white;
    text-align: center;
    font-weight: bold;
}
.separator {
    color: rgb(40,40,40);
    padding: 10px;
}
#sadFace {
    width: 64px;
    height: 64px;
    -webkit-filter: invert(1);
    filter: invert(1);
}