:root {
    color-scheme: dark;
    width: 100%;
    font-size: small;
}
* {
    color: lightgray;
    font-family: "Segoe UI",Helvetica,Arial, sans-serif;
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: black;
}
.navigation {
    height: 35px;
    line-height: 35px;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline-block;

}
#footer {
    text-align: center;
    font-size: small;
}
.links {
    color: grey;
}
#header {
    text-align: center;
    border-bottom: 1px solid rgb(40,40,40);
    height: auto;
    padding: 10px;
    margin: auto;
    vertical-align: middle;
    width: 100%;
}
h2 {
    text-align: center;
    margin: 0;
    padding: 0;
    width: auto;
    display: inline-block;
    font-size: x-large !important;
}
a {
    text-decoration: none;
}
a:hover {
    color: white;
}
button {
    background-color: transparent;
    border: 0;
    vertical-align: middle;
    margin: 2px;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
}
img {
    height: 16px;
    width: 16px;
    vertical-align: middle;
}
button:disabled {
    filter: invert(75%);
}
button:enabled:hover {
    filter: invert(50%);
}
button:enabled:active {
    transform: translateY(1px);
}
select {
    width: auto;
    padding: 4px;
    vertical-align: middle;
    margin: 5px;
    height: auto;
    border: 1px solid rgb(40,40,40);
    overflow: auto;
}
select option:checked {
    color: rgb(255, 255, 255);
}
input {
    border: 1px solid rgb(40,40,40);
    outline: none;
    width: 200px;
    padding: 6px;
    margin: 5px;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
select, input {
    background-color: black;
}
input[type="checkbox"] {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin: 2px;
}
input[type="radio"] {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    text-align: right;
    margin: 2px;
}
input:focus {
    outline: none;
}
table {
    width: 50%;
    text-align: center;
    background-color: black;
    border: 1px solid rgb(40,40,40);
}
table, th, td {
    border-collapse: collapse;
    padding: 5px;
    cursor: default;
}
th {
    font-weight: bold;
    border-bottom: 1px solid rgb(40,40,40);
}
.th {
    font-weight: bold;
}
td {
    max-width: 200px;
    word-wrap: break-word;
}
label {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    margin-bottom: 0;
}
.disable-select {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
.labels {
    text-align: left;
}
.layer {
    padding: 20px;
    border-bottom: 1px solid rgb(40,40,40);
    border-top: 0;
    text-align: center;
}
#toastLabel {
    visibility: hidden;
}
.center {
    margin-left: auto;
    margin-right: auto;
}